*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#canvas{
    border: 5px solid white;
    border-radius: 3px;
}
div{
    border:5px solid white;
    text-align: center;
    border-radius:3px;
    color:red;
    background-color: white;
    width:100px;
    font-size: 18px;
    position:absolute;
    left:50%;
    top:5%;
    transform: translateX(-50%);
    
}
div> #placar{
    color:green;
}